[user]
	name = nickbazinet
	email = nicolas.bazinet@hotmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	lg = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
	mnc = merge --no-commit --no-ff
	cia = !git add . && git commit --amend --no-edit && git push --force
